doctype html
html(lang='en')
  head
    title Premium Pilot
  body

    script.

      var myId;
      var myName;
      var myAvatar;
      var myEmail;
      var myProfile;
      var role;
      var expertTitle;
      var success = #{loginSuccess};

      window.console.log('go to expert auth')
      if (success) {
        myId = "#{expert.id}";
        myName = "#{expert.account.name}";
        myAvatar = getRawText('#{expert.account.avatar_url}');
        myEmail = "#{expert.account.email}";
        myProfile = "#{expert.account.profile}";
        role = "expert";
        expertTitle = "#{expert.title}";
      }

      var data = {
        success: success,
        myId: myId,
        myName: myName,
        myAvatar: myAvatar,
        myProfile: myProfile,
        myEmail: myEmail,
        role: role,
        expertTitle: expertTitle
      };

      window.opener.authenticateCallback(data);
      window.close();

      function getRawText(encodedStr) {

        var parser = new DOMParser;
        var dom = parser.parseFromString(
          '<!doctype html><body>' + encodedStr,
          'text/html');
        var decodedString = dom.body.textContent;
        console.log(decodedString);
        return decodedString;
      }

